PORT = YOUR PORT NUMBER SHOULD BE HERE!

TYPEORM_CONNECTION = rdbms
TYPEORM_HOST = db_host
TYPEORM_USERNAME = db_username
TYPEORM_PASSWORD = myPassword
TYPEORM_DATABASE = myDB
TYPEORM_PORT = db_port
TYPEORM_LOGGING =TRUE